<!DOCTYPE html>
<html>
<head>
<title>Success</title>

<style>
body {
    background:#020617;
    color:#e5e7eb;
    font-family:Arial;
    margin:0;
    text-align:center;
}

.box {
    margin-top:150px;
}

h1 {
    color:#22c55e;
}
</style>
</head>

<body>

<div class="box">
    <h1>🎉 Subscription Successful!</h1>
    <p>Welcome to premium content.</p>

    <a href="/dashboard">
        <button style="
            margin-top:20px;
            padding:12px 20px;
            font-size:16px;
            background:#38bdf8;
            border:none;
            border-radius:8px;
            cursor:pointer;">
            Go to Dashboard
        </button>
    </a>
</div>

</body>
</html>